# References
1. https://www.5axxw.com/questions/content/v330b7
2. https://zhuanlan.zhihu.com/p/100064394

In [306]:
import pandas as pd
import numpy as np

In [307]:
# 实现电影基本数据的统计返回
def cal_basic_info(origin_data, show_tag=False):
    basic_info = {}  # 声明一个空白的字典类型
    movie_rating = origin_data['Rating']
    movie_runtime = origin_data['Runtime (Minutes)']
    basic_info['min_rating'] = min(movie_rating)
    basic_info['max_rating'] = max(movie_rating)
    basic_info['min_runtime'] = min(movie_runtime)
    basic_info['max_runtime'] = max(movie_runtime)
    basic_info['mean_rating'] = movie_rating.mean()
    basic_info['mean_runtime'] = movie_runtime.mean()
    basic_info['rubbish_movie'] = sum(movie_rating<6)
    basic_info['good_movie'] = sum(movie_rating>=8)
    # 统计最热的电影类型Genre
    if show_tag is True:
        print("最低评分和最高评分", min(movie_rating), max(movie_rating))
        print("最短时间和最长时间", min(movie_runtime), max(movie_runtime))
        print("平均评分", movie_rating.mean())
        print("平均时长", movie_runtime.mean(), "min")
        print('共有{}部烂片'.format(basic_info['rubbish_movie']))
        print('也有{}部好片'.format(basic_info['good_movie']))
    return basic_info

In [308]:
file_path = './IMDB-Movie-Data.csv'
df = pd.read_csv(file_path)
print(df.head(1))  # 打印第一条数据
df.info()  # 显示这个数据集的描述信息
cal_basic_info(df, show_tag=True)
# cal_extra_info(df)

   Rank                    Title                    Genre  \
0     1  Guardians of the Galaxy  Action,Adventure,Sci-Fi

                                         Description    Director  \
0  A group of intergalactic criminals are forced ...  James Gunn

                                              Actors  Year  Runtime (Minutes)  \
0  Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...  2014                121

   Rating   Votes  Revenue (Millions)  Metascore
0     8.1  757074              333.13       76.0
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Title               1000 non-null   object
 2   Genre               1000 non-null   object
 3   Description         1000 non-null   object
 4   Director            1000 non-null   object
 5   Actors              1000 non-null   object
 6   Year                1000 non-null   int64
 7   Runtime (Minutes)   1000 non-null   int64
 8   Rating              1000 non-null   float64
 9   Votes               1000 non-null   int64
 10  Revenue (Millions)  872 non-null    float64
 11  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(5)
memory usage: 93.9+ KB
最低评分和最高评分 1.9 9.0
最短时间和最长时间 66 191
平均评分 6.723199999999999
平均时长 113.172 min
共有184部烂片
也有78部好片

{'min_rating': 1.9,
 'max_rating': 9.0,
 'min_runtime': 66,
 'max_runtime': 191,
 'mean_rating': 6.723199999999999,
 'mean_runtime': 113.172,
 'rubbish_movie': 184,
 'good_movie': 78}

In [309]:
df.columns

Index(['Rank', 'Title', 'Genre', 'Description', 'Director', 'Actors', 'Year',
       'Runtime (Minutes)', 'Rating', 'Votes', 'Revenue (Millions)',
       'Metascore'],
      dtype='object')

In [310]:
# mainDF = df[['Title', 'Genre', 'Director', 'Actors', 'Rating', 'Runtime (Minutes)']];
# mainDF = mainDF.sort_values(by = 'Rating' ,ascending=True);

In [311]:
mainDF = df
mainDF

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0
...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Secret in Their Eyes,"Crime,Drama,Mystery","A tight-knit team of rising investigators, alo...",Billy Ray,"Chiwetel Ejiofor, Nicole Kidman, Julia Roberts...",2015,111,6.2,27585,NaN,45.0
996,997,Hostel: Part II,Horror,Three American college students studying abroa...,Eli Roth,"Lauren German, Heather Matarazzo, Bijou Philli...",2007,94,5.5,73152,17.54,46.0
997,998,Step Up 2: The Streets,"Drama,Music,Romance",Romantic sparks occur between two dance studen...,Jon M. Chu,"Robert Hoffman, Briana Evigan, Cassie Ventura,...",2008,98,6.2,70699,58.01,50.0
998,999,Search Party,"Adventure,Comedy",A pair of friends embark on a mission to reuni...,Scot Armstrong,"Adam Pally, T.J. Miller, Thomas Middleditch,Sh...",2014,93,5.6,4881,NaN,22.0
999,1000,Nine Lives,"Comedy,Family,Fantasy",A stuffy businessman finds himself trapped ins...,Barry Sonnenfeld,"Kevin Spacey, Jennifer Garner, Robbie Amell,Ch...",2016,87,5.3,12435,19.64,11.0

In [312]:
mainDF['Director']

0                James Gunn
1              Ridley Scott
2        M. Night Shyamalan
3      Christophe Lourdelet
4                David Ayer
               ...
995               Billy Ray
996                Eli Roth
997              Jon M. Chu
998          Scot Armstrong
999        Barry Sonnenfeld
Name: Director, Length: 1000, dtype: object

In [313]:
def sumDict(series):
    return  series.to_dict()

In [314]:
def calNameLength(series):
    temp_str = list(series)[0]
    name_length = len(temp_str) - temp_str.count(' ') #使用了string的计算某个字符的次数功能
    return name_length

In [315]:
def calMovieNum(series):
    movieNum = len(series['Title'])
    return movieNum

In [316]:
def cntGoodMovie(series, goodLevel = 8):
    result = sum(series>=goodLevel)
    return result

In [317]:
def cntRubbishMovie(series, rubbiLevel = 6):
    return sum(series<rubbiLevel)

In [319]:
maxRatingDF = mainDF.groupby('Director')['Rating'].aggregate('max')
minRatingDF =  mainDF.groupby('Director')['Rating'].agg('min')

In [320]:
#计算姓名长度
nameLenDF = mainDF.groupby('Director')['Director'].apply(calNameLength)
nameLenDF

Director
Aamir Khan              9
Abdellatif Kechiche    18
Adam Leon               8
Adam McKay              9
Adam Shankman          12
                       ..
Xavier Dolan           11
Yimou Zhang            10
Yorgos Lanthimos       15
Zack Snyder            10
Zackary Adler          12
Name: Director, Length: 644, dtype: int64

In [321]:
#计算导片数量
movieNumDF = mainDF.groupby('Director').apply(calMovieNum)
movieNumDF

Director
Aamir Khan             1
Abdellatif Kechiche    1
Adam Leon              1
Adam McKay             4
Adam Shankman          2
                      ..
Xavier Dolan           2
Yimou Zhang            1
Yorgos Lanthimos       2
Zack Snyder            5
Zackary Adler          1
Length: 644, dtype: int64

In [322]:
#计算佳片数
cnt_goodMovieSeries = mainDF.groupby('Director')['Rating'].apply(cntGoodMovie, (8, ))
cnt_goodMovieSeries['Christopher Nolan']

5

In [323]:
#计算烂片数
cnt_badMovieSeries = mainDF.groupby('Director')['Rating'].apply(cntRubbishMovie, (6,)) #传入指定的划分标准
cnt_badMovieSeries

Director
Aamir Khan             0
Abdellatif Kechiche    0
Adam Leon              0
Adam McKay             0
Adam Shankman          1
                      ..
Xavier Dolan           0
Yimou Zhang            0
Yorgos Lanthimos       0
Zack Snyder            0
Zackary Adler          1
Name: Rating, Length: 644, dtype: int64

In [428]:
def findGenre(series):
    genre = []
    for i in range(len(series)):
        genre += series[i]
    genreSet = set(genre)
    genreIter = list(genreSet)
    genreNum = {}
    for j in range(len(genreIter)):
        genreNum[genreIter[j]] = genre.count(genreIter[j])
        
    return genreNum;

In [430]:
#计算影片类型
genreSeries = mainDF['Genre']
genreSummary = findGenre(genreSeries)
genreSummary
len(genreSummary.keys())

{'Thriller': 195,
 'Musical': 5,
 'Adventure': 259,
 'Western': 7,
 'Horror': 119,
 'Animation': 49,
 'Family': 51,
 'War': 13,
 'Drama': 513,
 'Crime': 150,
 'Comedy': 279,
 'Mystery': 106,
 'Sport': 18,
 'Music': 16,
 'Action': 303,
 'Sci-Fi': 120,
 'Fantasy': 101,
 'Biography': 81,
 'Romance': 141,
 'History': 29}

20

In [541]:
def directorGenre(series):#只显示前三种风格
    genre = []
    for i in range(len(series)):
        genre += series.values[i]
    genreSet = set(genre)
    genreIter = list(genreSet)
    genreNum = {}
    for j in range(len(genreIter)):
        genreNum[genreIter[j]] = genre.count(genreIter[j])
    resultNum = sorted(genreNum.items(), key = lambda x:x[1], reverse= True)#按照键值大小降序排列
    return resultNum

In [544]:
test = mainDF.groupby('Director')['Genre'].apply(directorGenre)
temp = pd.DataFrame(test)
temp['good'] = movieNumDF
temp['Genre']

Director
Aamir Khan                         [(Music, 1), (Drama, 1), (Family, 1)]
Abdellatif Kechiche                           [(Drama, 1), (Romance, 1)]
Adam Leon                                    [(Comedy, 1), (Romance, 1)]
Adam McKay             [(Comedy, 4), (Action, 2), (Drama, 1), (Crime,...
Adam Shankman          [(Drama, 2), (Comedy, 2), (Musical, 1), (Famil...
                                             ...
Xavier Dolan                                                [(Drama, 2)]
Yimou Zhang                  [(Fantasy, 1), (Adventure, 1), (Action, 1)]
Yorgos Lanthimos       [(Drama, 2), (Thriller, 1), (Comedy, 1), (Roma...
Zack Snyder            [(Action, 5), (Fantasy, 3), (Adventure, 2), (D...
Zackary Adler                                   [(Crime, 1), (Drama, 1)]
Name: Genre, Length: 644, dtype: object

In [494]:
genreSummary
genreSummary.values()

{'Thriller': 195,
 'Musical': 5,
 'Adventure': 259,
 'Western': 7,
 'Horror': 119,
 'Animation': 49,
 'Family': 51,
 'War': 13,
 'Drama': 513,
 'Crime': 150,
 'Comedy': 279,
 'Mystery': 106,
 'Sport': 18,
 'Music': 16,
 'Action': 303,
 'Sci-Fi': 120,
 'Fantasy': 101,
 'Biography': 81,
 'Romance': 141,
 'History': 29}

dict_values([195, 5, 259, 7, 119, 49, 51, 13, 513, 150, 279, 106, 18, 16, 303, 120, 101, 81, 141, 29])

In [ ]:
def directorGenre(series):#只显示前三种风格
    genre = []
    for i in range(len(series)):
        genre += series.values[i]
    genreSet = set(genre)
    genreIter = list(genreSet)
    genreNum = {}
    for j in range(len(genreIter)):
        genreNum[genreIter[j]] = genre.count(genreIter[j])
    resultNum = sorted(genreNum.items(), key = lambda x:x[1], reverse= True)#按照键值大小降序排列
    return resultNum

In [563]:
#汇总导演的导片信息：片名、评分
def movieInfo(series):
    movieList = []
    for i in range(len(series)):
        movieList += series.values[i]
        
    return movieList

In [564]:
directoreMovieList = mainDF.groupby('Director')['Title'].apply(movieInfo)
directoreMovieList

Director
Aamir Khan              [T, a, a, r, e,  , Z, a, m, e, e, n,  , P, a, r]
Abdellatif Kechiche           [L, a,  , v, i, e,  , d, ', A, d, è, l, e]
Adam Leon                                             [T, r, a, m, p, s]
Adam McKay             [T, h, e,  , B, i, g,  , S, h, o, r, t, S, t, ...
Adam Shankman          [H, a, i, r, s, p, r, a, y, R, o, c, k,  , o, ...
                                             ...
Xavier Dolan           [M, o, m, m, y, I, t, ', s,  , O, n, l, y,  , ...
Yimou Zhang                   [T, h, e,  , G, r, e, a, t,  , W, a, l, l]
Yorgos Lanthimos       [T, h, e,  , L, o, b, s, t, e, r, K, y, n, o, ...
Zack Snyder            [B, a, t, m, a, n,  , v,  , S, u, p, e, r, m, ...
Zackary Adler          [T, h, e,  , R, i, s, e,  , o, f,  , t, h, e, ...
Name: Title, Length: 644, dtype: object